<!DOCTYPE html>
<html>
<head>
	<title>Mango Classification</title>
	<link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
	<header>
		<h1>Mango Classification</h1>
	</header>
	<nav>
		<a href="/about">About</a>
		<a href="/predict">Classify My Mango</a>
	</nav>
	<section>
		<h2>About Mangoes</h2>
		<p>Mango is a tropical fruit that is loved by many around the world. It is a rich source of vitamins A and C, as well as dietary fiber. Mangoes come in a variety of shapes, sizes, and colors, and their taste ranges from sweet to sour. Some popular varieties of mangoes include Anwar Ratool, Chaunsa(Black), Chaunsa(Summer Bahisht), Chaunsa(White), Dosehri, Fejri, Langra, Sindhri.</p>
		<h3>Importance of Mango Classification</h3>
		<p>
		 <ul>
		 <div class="content-box">
  <li>It allows farmers to identify the different varieties of mangoes that they are growing, which can help them optimize their cultivation practices.</li>
  <li>It helps exporters and importers ensure that they are dealing with the correct types of mangoes, which is important for marketing and sales purposes.</li>
  <li>It helps consumers choose the types of mangoes that they prefer, based on taste, texture, and other factors.</li>

</div>
  
	</section>
</body>
</html>